 
<div class="modal-header navbar-expand-md navbar-dark bg-primary">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <qrcode [qrdata]="usrQrCode" [size]="256" [level]="'M'"></qrcode>
</div>
<div class="modal-footer">
    <form #codeForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username"
        placeholder="MFA Code" required [(ngModel)]="model.mfacode">
        <button [disabled]="!codeForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  <button type="button" class="btn btn-success my-2 my-sm-0" (click)="cancel()">{{closeBtnName}}</button>
</div>