<!-- <b-modal ref="modal2Factors" title="Autenticación segura" :no-close-on-backdrop="true">
  <div class="form-group">
    <label>Por favor, escanee el código con la aplicación segura</label>
  </div>     
  <div class="form-group">
    <div class="qr" id="qrCode" @click="openGoAuth()"></div>
  </div>
  <div class="form-group">
    <label>Código:</label>
    <the-mask class="form-control input-lg text-centered" :mask="['### ###']" v-model="code2Factor"/>
  </div>
<div slot="modal-footer">
<b-btn @click="cancel2Factor">
 Cancelar
</b-btn>
<b-btn variant="primary" @click="authentication2Factor">
 Aceptar
</b-btn>
</div>
</b-modal> -->
<button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>
